<form id="enteriiifitem" style="padding-bottom: 20px">
<input style="width:100%" type="text" name="iiifurl" id="iiifurl" placeholder="Load image, should be info.json link">
</form>
<p><b>Example images from other institutions</b></p>
{% for item in site.data.preloadedos %}
<a onclick="localStorage.setItem('osviewer', '{{item}}'); location.reload()">{{item}}</a><br>
{% endfor %}
<script src="https://annotorious.github.io/latest/annotorious.min.js"></script>
<script src="https://annotorious.github.io/js/highlight.js"></script>
<script type="text/javascript" src="https://annotorious.github.io/latest/anno-fancybox.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://annotorious.github.io/latest/annotorious.css">
<div id="editor" class="viewer"></div>
<script>
document.getElementById("enteriiifitem").onsubmit= function() {
  localStorage.setItem('osviewer', document.getElementById("iiifurl").value);
  location.reload();
  return false;
}

document.getElementById("editor").addEventListener("load", getUrl());

function getUrl() {
  var tilesource = localStorage['osviewer'] ? localStorage['osviewer'] : '{{site.data.preloadedos[0]}}';
  var element = document.getElementById('editor');
  element.innerHTML = `<img src="${tilesource}" class="annotatable" style="width: 100%">`
  loadanno(tilesource, element)
}

function loadanno(tilesource, element) {
  var baseurl = tilesource.split("/full")[0];
  annotorious.plugin.addTags = function() { }
  annotorious.plugin.addTags.prototype.onInitAnnotator = function(annotator) {
    annotator.editor.addField(function(annotation) {
      var tags = annotation ? annotation.tags : '';
      return 'Tags: <input type="text" name="tags" id="tags" value="' + tags + '">'
    });
    annotator.popup.addField(function(annotation) {
      return '<em style="color: white">Tags: ' + annotation.tags + '</em>';
    })
  }

  anno.addPlugin('addTags', {});
    annotorious.plugin.selectType = function() { }
    annotorious.plugin.selectType.prototype.onInitAnnotator = function(annotator) {
      annotator.editor.addField(function(annotation) {
        var shapetype = annotation ? annotation.shapetype : 'rect';
        return 'Type: <input type="text" name="shapetype" id="shapetype" value="' + shapetype + '">'
      });
      annotator.popup.addField(function(annotation) {
        return '<em style="color: white">Type: ' + annotation.shapetype + '</em>';
      })
  }
  anno.addPlugin('selectType', {});
  annotorious.plugin.addAuthor = function() { }
  annotorious.plugin.addAuthor.prototype.onInitAnnotator = function(annotator) {
    annotator.editor.addField(function(annotation) {
      var author = annotation ? annotation.author : '';
      return 'Author: <input type="text" name="author" id="author" value="' + author + '">'
    });
    annotator.popup.addField(function(annotation) {
      return '<em style="color: white">Author: ' + annotation.author + '</em>';
    })
  }
  anno.addPlugin('addAuthor', {});
  var height;
  var width;
  
  $('img.annotatable').on('load', function(){
    anno.makeAnnotatable(this);
    height = this.naturalHeight;
    width = this.naturalWidth;
  {% for annotation in site.annotations %}
    var annotation = JSON.parse({{annotation.content | jsonify}})
    {% unless annotation.url contains '-list' %}
    if (annotation['@context'].indexOf('w3') > -1 && annotation.target && baseurl.indexOf(annotation.target.id.split("#xywh=")[0]) > -1){
      var xywh = annotation.target.id.split("#xywh=").slice(-1)[0].split(",");
      var loadanno = {}
      loadanno['src'] = tilesource;
      body = Array.isArray(annotation['body']) ? annotation['body'] : [annotation['body']];
      var tags = []
      for (var jar=0; jar<body.length; jar++){
        if(body[jar]['purpose'] != 'tagging'){
          loadanno['text'] = body[jar]['value'];
          loadanno['shapetype'] = body[jar]['selector'] ? body[jar]['selector']['value'] : 'rect';
        } else {
          tags.push(body[jar]['value'])
        }
      }
      
      var cHeight = this.clientHeight;
      var cWidth = this.clientWidth;
      var cords = {'x': parseInt(xywh[0])/width, 'y': parseInt(xywh[1])/height, 'width': parseInt(xywh[2])/width, 'height':parseInt(xywh[3])/height}
      loadanno['shapes'] = [{"type": "rect", "geometry": cords, "style": {}}]
      loadanno['tags'] = tags.join(", ");
      loadanno['id'] = annotation['@id'];
      loadanno['created'] = annotation['created'] ? annotation['created'] : '';
      loadanno['modified'] = annotation['modified'] ? annotation['modified'] : '';
      loadanno['context'] = "{{site.url}}{{site.baseurl}}{{page.url}}"
      var creator = annotation.creator ? annotation.creator.join(", ") : "";
      loadanno['author'] = creator;
      anno.addAnnotation(loadanno)
    }
    {% endunless %}
  {% endfor %}
  
  });
  anno.showAnnotations(tilesource);
  anno.addHandler('onAnnotationCreated', function(annotation) {
    var annotation_text = buildAnno(annotation, annotorious, baseurl, height, width)
    var senddata = {'json': annotation_text }
    write_annotation(senddata, 'create', '{{site.api_server}}', annotation)
  });

  anno.addHandler('onAnnotationUpdated', function(annotation) {
    var annotation_text = buildAnno(annotation, annotorious, baseurl, height, width)
    var senddata = {'json': annotation_text,'id': annotation['id']}
    write_annotation(senddata, 'update', '{{site.api_server}}')
  });

  anno.addHandler('onAnnotationRemoved', function(annotation) {
    var senddata = {'listuri': baseurl, 'id': annotation['id'] }
    write_annotation(senddata, 'delete', '{{site.api_server}}')
  });
}

$(window).on('resize', function(){
    var annos = anno.getAnnotations();
    anno.removeAll();
    for (var j=0; j<annos.length; j++){
      anno.addAnnotation(annos[j])
    }
});
</script>