---
layout: default
---
{{content}}

{% assign listname = page.listname | split: '.json' | first | slugify %}
<table>
{% if page.tags and page.tags.size > 0 %}
<tr>
<td>Tags</td><td>{{page.tags | join: "; "}}</td>
</tr>
{% endif %}
{% if page.datecreated %}
<tr>
<td>Date Created</td><td>{{page.datecreated | date: "%B %d, %Y %H:%M"}}</td>

</tr>
{% endif %}
{% if page.datemodified != '' %}
<tr>
<td>Date Modified</td><td>{{page.datemodified| date: "%B %d, %Y %H:%M"}}</td>
</tr>
{% endif %}
{% if content %}
<tr>
<td>Content</td><td>{{content}}</td>
</tr>
{% endif %}
<tr>
<td>Annotations</td><td><a href="{{site.url}}{{site.baseurl}}{{page.url}}.json">{{site.url}}{{site.baseurl}}{{page.url}}.json</a><br>
<a href="{{site.url}}{{site.baseurl}}/annotations/{{listname}}.json">{{site.url}}{{site.baseurl}}/annotations/{{listname}}.json</a></td>
</tr>
<tr>
<td>Embed codes</td><td>
<code>
&lt;iiif-annotation annotationurl="{{site.url}}{{site.baseurl}}{{page.url}}.json"&gt;&lt;/iiif-annotation&gt;
<br>
&lt;iiif-storyboard annotationurl="{{site.url}}{{site.baseurl}}{{page.url}}.json"&gt;&lt;/iiif-storyboard&gt;
<br>
&lt;iiif-storyboard annotationlist="{{site.url}}{{site.baseurl}}/annotations/{{listname}}.json"&gt;&lt;/iiif-storyboard&gt;
</code>
</td>
</tr>
</table>

<iiif-annotation annotationurl="{{site.baseurl}}{{page.url}}.json"></iiif-annotation>

<iiif-storyboard annotationlist="{{site.baseurl}}/annotations/{{listname}}.json"></iiif-storyboard>
